@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
}

body {
  @apply bg-black text-white text-sm antialiased font-poppins;
}

body::selection {
  @apply bg-pink-600 text-white;
}

button {
  @apply cursor-pointer;
}

.move-gradient {
  background-image: linear-gradient(
    to right,
    var(--color-pink-500),
    var(--color-pink-300)
  );
  background-size: 200% 100%;
  animation: movegradient 5s infinite;
}

@keyframes movegradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #e63946;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #cc2f3c;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #58072a #000000;
}

/* advertise text animation  */

.text-outline {
  color: transparent;
  -webkit-text-stroke-width: 1.6px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.15);
  text-stroke-width: 1.6px;
  text-stroke-color: rgba(0, 0, 0, 0.15);
}

.gradient-text {
  background: linear-gradient(
    90deg,
    /* #bf0101 0%,
    #b50000 25%,
    #860000 50%,
    #630000 75%,
    #420000 100% */
    #e8e1e1 0%,
    #ddd4d4 25%,
    #b1a2a2 50%,
    #936f6f 75%,
    #835959 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.reveal {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 0%;
  will-change: width;
  transform-origin: left center;
  pointer-events: none;
}

@keyframes fill-unfill {
  0% {
    width: 0%;
  }
  40% {
    width: 100%;
  }
  60% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.animate-fill-unfill {
  animation: fill-unfill 3.6s cubic-bezier(0.2, 0.9, 0.2, 1) infinite;
}

.smooth-crisp {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
